<div class="content-menu-option" onclick="window.location.href='../mod_docentes/verDocentes.php'">
  <div class="cont_img">
    <img src="../../../../../assets/img/profesor.svg" alt="" title="menu de opciones de docente">
  </div>
  <p>Docentes</p>
</div>
<div class="content-menu-option" onclick="window.location.href='../mod_cargaHoraria/verUserHora.php'">
  <div class="cont_img">
    <img src="../../../../../assets/img/subir_cargas.svg" alt="" title="subir permanencia a un docente">
  </div>
  <p>Cargas Horarias</p>
</div>
<div class="content-menu-option" onclick="window.location.href='../mod_pass/verificarPass.php'">
  <div class="cont_img">
    <img src="../../../../../assets/img/cambiar_contrasena.svg" alt="" title="cambiar contraseña">
  </div>
  <p>Cambiar Contraseña Admin</p>

</div>
<div class="content-menu-option" onclick="window.location.href='../mod_periodo/definirPeriodo.php'">
  <div class="cont_img">
    <img src="../../../../../assets/img/calendario.svg" alt="" title="periodo actual del trimestre">
  </div>
  <p>Establecer Periodo</p>
</div>
<div class="content-menu-option" onclick="window.location.href='../mod_pass/restablecerPass.php'">
  <div class="cont_img">
    <img src="../../../../../assets/img/restablecer.svg" alt="" title="restablecer contraseña de un docente">
  </div>
  <p>Restablecer Contraseña de Usuario</p>
</div>
<div class="content-menu-option" onclick="Accion()">
  <div class="cont_img">
    <img src="../../../../../assets/img/respaldo.svg" title="hacer respaldo de la base de datos">
  </div>
  <p>Hacer Respaldo</p>
</div>
