<header class="content-nav-bar transitionMedium">

  <div class="header__iconbottom" id="header__iconbottom">
    <div class="barNavBar transitionFast"></div>
    <div class="barNavBar transitionFast"></div>
    <div class="barNavBar transitionFast"></div>
  </div>

  <nav class="header__navbar">
    <div class='nav-bar-username'>
      <p></p>
    </div>
    <div class='header__navbar--iconuser'>
      <a href='index.php'>
        <img src='../../../assets/img/LOADSSCHEDULE.svg'>
      </a>
    </div>

    <section class='header__navbar--list'>

      <article class='header__navbar--list-opc'>
        <a href='/'>
          <p> Inicio </p>
        </a>
      </article>

      <article class='header__navbar--list-opc'>
        <a href='../mod_cargaHoraria/verUserHora.php'>
          <p> Cargas Horarias </p>
        </a>
      </article>

      <article class='header__navbar--list-opc'>
        <a href='../mod_docentes/verDocentes.php'>
          <p> Visualizar los Docentes </p>
        </a>
      </article>

      <article class='header__navbar--list-opc'>
        <a href='../mod_mensajeria/buzonAdmin.php'>
          <p style='display: inline-block'>Buzón De Mensajes</p>
          <i class='header__navbar--newmsj MsjRec' id='$estado'></i>
        </a>
      </article>

      <article class='header__navbar--list-opc'>
        <a href='../mod_opciones_avanzadas/opciones_avanzadas.php'>
          <p> Opciones Avanzadas </p>
        </a>
      </article>
      <article class='header__navbar--list-opc'>
        <a href=''>
          <p> Ayuda </p>
        </a>
      </article>
      <article class='header__navbar--list-opc'>
        <a href='#' onclick='logOut()'>
          <p> Cerrar Sesión </p>
        </a>
      </article>
    </section>

  </nav>

</header>