<header class="content-nav-bar {{openNavBar ? 'content-nav-bar-open' : ''}} transitionMedium">

  <div class="header__iconbottom" (click)="toggleNavBar()">
    <div class="barNavBar transitionFast"></div>
    <div class="barNavBar transitionFast"></div>
    <div class="barNavBar transitionFast"></div>
  </div>

  <nav class="header__navbar">
    <div class='header__navbar--iconuser'>
      <a [routerLink]="['./']" (click)="toggleNavBar()">
        <img src='../../../assets/img/LOADSSCHEDULE.svg'>
      </a>
    </div>
    <div class='nav-bar-username'>
      <p>{{user}}</p>
    </div>
    <section class='header__navbar--list'>

      <article class='header__navbar--list-opc' [routerLink]="['./']" (click)="toggleNavBar()">
        <p> Inicio </p>
      </article>

      <article class='header__navbar--list-opc' [routerLink]="['carga-horaria']" (click)="toggleNavBar()">
        <p> Cargas Horarias </p>
      </article>

      <article class='header__navbar--list-opc' [routerLink]="['docentes']" (click)="toggleNavBar()">
        <p> Visualizar los Docentes </p>
      </article>

      <article class='header__navbar--list-opc' [routerLink]="['buzon']" (click)="toggleNavBar()">
        <p style='display: inline-block'>Buzón De Mensajes</p>
        <i class='header__navbar--newmsj MsjRec' id='$estado'></i>
      </article>
      <article class='header__navbar--list-opc' (click)="logout()">
        <p> Cerrar Sesión </p>
      </article>
    </section>

  </nav>

</header>